<ion-header>
  <ion-navbar>
    <ion-title>
      Recipe
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="center" overflow-scroll="true">
  <div class="list card" style="box-shadow: none">

    <div class="item item-avatar" style="border: 0;">
      <img src="assets/img/card-fish.png">
      <h2>{{(recipe | async).category}}</h2>
      <p>{{(recipe | async).name}}</p>
    </div>

    <div class="item item-image" style="border: 0;">
      <img src="{{(recipe | async).image}}" />
    </div>

  </div>

  <h4>Beschrijving</h4>
  <div>
    {{(recipe | async).description}}
  </div>

  <h4 translate="Aantal personen"></h4>

  <ion-segment [(ngModel)]="numberOfPersons" color="primary">
    <ion-segment-button *ngFor="let persons of (recipe | async).allowedPersons" value="{{persons}}">
      {{persons}}
    </ion-segment-button>
  </ion-segment>

  <h4>Ingredients</h4>

  <div class="list list-small">

    <div class="item" *ngFor="let ingredient of ((recipe | async).ingredients | values)">
      <ingredient [ingredient]="ingredient" [persons]="numberOfPersons"></ingredient>
    </div>

  </div>

  <button (click)="start()">
    Start
  </button>

  <button *ngIf="whatsAppEnabled | async" (click)="shareRecipe()">
    Share via Whatsapp!
  </button>
</ion-content>
