<ion-header>
  <ion-navbar>
    <ion-title>
      Step
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="center" overflow-scroll="true">

  <div *ngFor="let timer of runningTimers | async">
    <timer [timer]="timer">
      Timer for {{ timer.model.action }}
    </timer>
  </div>

  <step
    [step]="currentStep | async"
    [hasPrevious]="hasPrevious | async"
    [hasNext]="hasNext | async"
    [canComplete]="canComplete | async"
    (onPrevious)="previous()"
    (onNext)="next()"
    (onComplete)="complete()">

    <partial-ingredient *ngIf="(currentIngredient | async)"
                [ingredient]="currentIngredient | async"
                [amountMultiplicity]="currentIngredientAmount | async"
                [persons]="numberOfPersons | async"></partial-ingredient>
  </step>

</ion-content>
